* {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Kumbh Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0.1rem;
}
body {
    background-color: #223343 !important;

}



.expand-text-button {
    background-color: aqua;
    color: #000;
    font-weight: 600;
    outline: 0;
    border: 0;
    border-radius: 3px;
    padding: 0.1rem;
}

